<div class="container">
<div class="row">
  <div class="col-lg-6 col-sm-6">
    <div class="team-member" tabindex="0">
      <figure class="profile-pic">
        <% if @profile.avatar_url %>
        <img src="<%= @profile.avatar_url %>" alt="Avatar" style="width: 300px; max-width: 100%;">
        <% end %>
      </figure>
      <div class="member-details">
        <h3 class="dark-text red-border-bottom"><%= @profile.name %></h3>
        <% if user_signed_in? %>
        <h4 class="dark-text red-border-bottom">E-mail: <%= @profile.email %></h2>
          <% end %>
          <div class="position">Position: <%= @profile.position %></div>
          <h3>User has skills</h3>
          <% @profile.myskills.each do |myskill| %>
          <div class="score">
            <h5><%= myskill.skill.name %></h5>
            <div class="star-rating" data-score="<%= myskill.score %>"></div>
          </div>
          <% end %>
        </div>
        <div class="social-icons">
          <ul>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-sm-6">
      <h3 class="text-center">Last user posts</h3>
          <div class="row">
            <% @posts.each do |post| %>
            <div class="col-sm-12 col-lg-12 text-center">
              <div class="card">
                <div class="card-topper" style='background-image: url(<%= post.banner_image_url %>);'></div>
                <div class="card-block">
                  <h4 class="card-title"><%= link_to post.title, post %></h4>
                  <p class="card-text"><%= truncate(post.description, length: 130) %></p>
                </div>
              </div>
            </div>
            <% end %>
            </div>
    </div>
  </div>
  </div>
<script>
$('.star-rating').raty({
  path: '/assets/',
  readOnly: true,
  score: function() {
    return $(this).attr('data-score');
  }
});
</script>
