<%= render 'shared/navbar' %>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">Skills</h1>
    </div>
    <br>
    <div class="col-md-12">
      <table class="table">
        <thead>
          <tr>
            <th>Logo</th>
            <th>Name</th>
            <th>Category</th>
            <th>Users</th>
          </tr>
        </thead>
        <tbody>
          <% @skills.each do |skill| %>
          <tr>
            <% unless skill.logo_url.nil? %>
            <td>
              <%= link_to (image_tag("#{skill.logo_url}", alt: "Skill logo", style: "width: 50px; height: 50px; max-width: 50px;")), skill_path(skill) %>
            </td>
            <% end %>
            <td><%= link_to skill.name, skill_path(skill) %></td>
            <td><%= link_to skill.category.name , category_path(skill.category.id)%></td>
            <% skill.users.in_groups_of(3, false) do |user| %>
            <td>
              <ul class="row">
                <% user.each do |u| %>
                <li class="col-md-4">
                  <% if u.avatar_url %>
                  <%= link_to (image_tag("#{u.avatar_url}", class: "img-responsive", alt: "Profile Avatar", style: "width: 50px; height: 50px; max-width: 50px;")), profile_path(u.id) %>
                  <% end %>
                </li>
                <% end %>
              </ul>
            </td>
            <% end %>
          </tr>
          <% end%>
        </tbody>
      </table>
    </div>
  </div>
</div>
<%= render 'shared/footer' %>
