<%= render 'shared/navbar' %>
<div class="main-content">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-4">
            <% unless @skill.logo_url.nil? %>
              <%= image_tag("#{@skill.logo}", class: "img-rounded img-responsive", alt: "Skill logo", style: "width: 100px; height: 100px; max-width: 100px;") %>
            <% end %>
          </div>
          <div class="col-md-8">
            <h1><%= @skill.name %></h1>
            <p>Category: <%= @skill.category.name   %></p>
            <%= link_to 'Add as my skill', myskills_path(myskill: {skill_id: @skill.id, score: 0}), method: :post, class: 'btn btn-primary btn-sm' %>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <h3>Users having this skill</h3>
        <% @skill.users.in_groups_of(2, false) do |user| %>
        <ul class="row">
          <% user.each do |u| %>
          <% if u.avatar_url %>
          <li class="col-md-6">
            <%= link_to (image_tag("#{u.avatar_url}", class: "img-responsive", alt: "Profile Avatar", style: "width: 50px; height: 50px; max-width: 50px;")), profile_path(u.id) %>
            <%= link_to u.name, profile_path(u.id), class: "user-link" %>
          </li>
          <% end %>
          <% end %>
        </ul>
        <% end %>
      </div>
    </div>
    <br>
  </div>
</div>
<%= render 'shared/footer' %>
<script>
$('#star-rating').raty({
  path: '/assets',
  scoreName: 'myskill[score]'
});
</script>
