<%= render 'shared/navbar' %>
<%= render 'header' %>

<div class="content-wrapper">
  <div class="section">
    <%= render 'profiles' %>
  </div>
  <div class="posts">
    <%= render 'posts' %>
  </div>
  <%= render 'shared/footer' %>
</div>
