<div class="row">
  <div>
    <%= link_to 'New skill', new_myskill_path, class: 'btn btn-primary btn-lg' %>
  </div>
  <br>
  <table class="table table-striped">
    <tr>
      <th colspan="5">Title</th>
    </tr>
    <% @myskills.each do |mys| %>
    <tr>
        <td><%= mys.score %></td>
        <td><%= mys.skill.category.name %></td>
        <td><%= mys.skill.name %></td>
      <td></td>
      <td><%= link_to 'Edit', edit_myskill_path(mys), class: 'btn btn-sm btn-warning' %></td>
      <td><%= link_to 'Remove', myskill_path(mys), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %></td>
    </tr>
    <% end %>
  </table>
</div>
