<%= render 'shared/navbar' %>
<p>
  <strong>User:</strong>
  <%= @myskill.user.email %>
  <br>
  <%= @myskill.user.name %>
</p>

<p>
  <strong>Skill:</strong>
  <%= @myskill.skill.name %>
</p>

<p>
  <strong>Score:</strong>
  <%= @myskill.score %>
</p>
<%= link_to 'Edit', edit_myskill_path(@myskill) %> |
<%= link_to 'Back', myskills_path %>
