<%= form_for(post) do |f| %>
<div class="panel panel-default">
  <% if post.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

    <ul>
      <% post.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="panel-heading">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="panel-body">
    <div class="form-group">
      <%= f.label :banner_image_url %>
      <%= f.text_field :banner_image_url, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :body %>
      <%= f.text_area :body, class: "form-control", rows: "10" %>
    </div>

    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_area :description, class: "form-control", rows: "10" %>
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4">
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <%= f.submit 'Save', class:"btn btn-success btn-lg btn-block" %>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
