<div class="collapse" id="exCollapsingNavbar">
  <div class="collapse-bg p-a-1">
    <div class='card'>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <%= link_to 'Zeforge', root_path, class: "nav-link #{yield(:blog_active)}" %>
        </li>
        <li class="list-group-item">
          <%= link_to 'About', root_path, class: "nav-link #{yield(:about_active)}" %>
        </li>
        <li class="list-group-item">
          <%= link_to 'Contact', root_path, class: "nav-link #{yield(:contact_active)}" %>
        </li>
        <% if user_signed_in? %>
        <li class="list-group-item">
          <%= link_to 'My posts', root_path, class: "nav-link #{yield(:user)}" %>
        </li>
        <li class="list-group-item">
          <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "nav-link" %>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<nav class="navbar navbar-toggleable-md navbar-light bg-faded navbar-light" style="background-color: #f8f8f8;">
  <div class='container'>
    <a class='navbar-brand' href='/'>
      Ze<span class='light'>forge</span>
    </a>
    <button class="navbar-toggler hidden-sm-up pull-xs-right" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
      &#9776;
    </button>
    <ul class="nav navbar-nav hidden-xs-down">
      <li class="nav-item ">
        <%= link_to 'Blog', root_path, class: "nav-link #{yield(:blog_active)}" %>
      </li>
      <li class="nav-item">
        <%= link_to 'About', root_path, class: "nav-link #{yield(:about_active)}" %>
      </li>
      <li class="nav-item">
        <%= link_to 'Contact', root_path, class: "nav-link #{yield(:contact_active)}" %>
      </li>
    </ul>
    <ul class="nav navbar-nav hidden-xs-down navbar-toggler-right">
      <% if user_signed_in? %>
      <li class="nav-item dropdown">
        <a class="nav-link btn btn-secondary dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          My account
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <%= link_to 'My posts', root_path, class: "dropdown-item #{yield(:contact_active)}" %>
          <%= link_to 'My profile', root_path, class: "dropdown-item #{yield(:contact_active)}" %>
          <%= link_to 'My password', root_path, class: "dropdown-item #{yield(:contact_active)}" %>
          <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "dropdown-item" %>
        </div>
      </li>
      <% else -%>
      <li class="nav-item">
        <%= link_to 'Sign up', new_user_registration_path, class: "nav-link btn btn-secondary #{yield(:contact_active)}" %>
      </li>
      <li class="nav-item">
        <%= link_to 'Sign in', new_user_session_path, class: "nav-link btn btn-secondary #{yield(:contact_active)}" %>
      </li>
      <% end %>
    </ul>
  </div>
</nav>
