<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:page_title) %> | Zeforge</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body id="page-top" class="index">
  <div id="skipnav"><a href="#maincontent">Skip to main content</a></div>

  <%= render 'layouts/navbar' %>
  <%= render 'layouts/flash_messages' %>
  <%= yield %>
</div>
</body>
</html>
